@import '_var.scss';


header{
background: #eba35d; /* Old browsers */
background: -moz-linear-gradient(top, #d19869 0%, #ffe3b4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d19869 0%,#ffe3b4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d19869 0%,#ffe3b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d19869', endColorstr='#ffe3b4',GradientType=0 ); /* IE6-9 */
padding: 20px 0;

}
// eba35d
// ,#d19869
header h1{
color: #ffffff;
@include font-size(26px);
text-align: center;
margin-bottom: 30px;
}
header h1 span{
text-transform: uppercase;
}


header h2{
color: darken($hover-color, 20%);
text-align: center;
@include font-size(24px);
}


.block {
	padding: 20px 0;
}
.block_cover, .block_text {
float: left;
	width: 50%;
}
.block_cover {
	text-align: center;

}
.block_cover_autor {
padding-right: 50px;
}
.block_cover img {
	width: 100%;
	height: auto;
}
h3 {
	display: inline-block;
@include font-size(24px);
color: $hover-color;
position: relative;
margin: 0 10px 30px;
}
.block_text h3:before {
position: absolute;
content: '';
border: 1px solid  $hover-color;
bottom: 0;
width: 100%;
}
.block_text p {
@include font-size(20px);
}
.block_text p span {
@include font-size(11px);
}
.block_text  a {
	color: #666;
	 @include trans;
}
.block_text  a:hover {
	color: #666;
	text-decoration: none;
}

.block_list {
	text-align: center;
}
.block_list h3 {
color: #000;
}

.list {
	padding-left: 0;

	display: inline-block;
list-style-type: none;
}
.list li {
text-align: left;
padding:5px 0 15px 0;
margin: 10px 0;
position: relative;
border-bottom: 1px dashed $acsent-color;

}
.list li:before {
font-size: 1.35rem;
font-family: FontAwesome;
top:10px;
position: absolute;
left:-30px;
 content: "\f0a4";
 line-height: 1;
color:$hover-color;
}
.polit_termes {
	text-align: left;
}
.polit_termes span {
	font-weight: bold;
}
.polit_list {
	text-align: left;
}
ol {
font-weight: bold;

}
.polit_list li {
font-weight: normal;
margin-top: 5px;
 }
.polit_list li span {
	font-weight: bold;
}
.polit_list li:first-child  {
margin-top: 10px;
	}
.polit_list li:last-child  {
margin-bottom: 10px;
	}
footer {
	padding: 20px 0;
	background-color: #000;
color: #fff;
}
.polit_list li.adress span {
	display: block;
	font-weight: normal;

}
li.adress {
list-style: none;
}


.footer_box {
	width: 33.3333%;
	float: left;
}
.footer_box ul {
	list-style-type: none;
}
.footer_box ul li a {
	color: #fff;
	text-decoration: none;
	@include trans;
}
.footer_box ul li a:hover {
text-decoration: underline;
	}



/*стили кнопки наверх*/
.top {
position: fixed;
bottom:0;
left: 0;
right: 0;
width: 100%;
height: 40px;
line-height: 40px;
background-color: rgba($hover-color, 1.0);
cursor: pointer;
text-align: center;
opacity: .3;
z-index: 3;
-webkit-transition: all 0.5s ease;
-moz-transition:all 0.5s ease;
transition: all 0.5s ease;
color:rgba(#ffffff, 1.0);
}
.top .button_up {
color: $hover-color;
font-size: 1rem;
border: 0;
padding: 5px 10px;
cursor: pointer;
}
.top:hover {
opacity: 1;
}
.top.active {
bottom: -60px;
}
