@import '_var.scss';



@media (min-width: 737px) {
  .container { width: 100%;  margin: 0 auto; }
}
@media (min-width: 768px) {
  .container {width: 750px; margin: 0 auto; }
}
@media (min-width: 800px) {
  .container { width: 780px;  margin: 0 auto;}
}
@media (min-width: 992px) {
  .container { width: 970px; margin: 0 auto; }
}
@media (min-width: 1024px) {
  .container { width: 1004px; margin: 0 auto; }
}
@media screen and (min-width: 1080px) {
  .container { width: 1060px;  margin: 0 auto; }
}
@media only screen and (min-width : 1190px) {
  .container { width: 1170px;  margin: 0 auto;}
}
@media only screen and (min-width : 1200px) {
  .container {width: 1170px;  margin: 0 auto;}
}
/* важное разрешение 1280  */
@media only screen and (max-width : 1280px) {
}
/* важное разрешение 1080 */
@media screen and (max-width: 1080px) {
  header h1 {font-size: 1.525rem;}
  header h2 {font-size: 1.3rem;}
}
/* важное разрешение 1024 */
@media only screen and (max-width: 1024px) {
  header h1 {font-size: 1.4rem;margin-bottom: 11px;}
  header h2 {font-size: 1.0rem;}
  h3 {font-size: 1.3rem; margin: 0 10px 15px;}
  .block_text p { font-size: 1.12rem; margin:5px 0;}
  .list li {padding: 0 0 10px 0;}
  .list li:before { top: 0px;}
  .footer_box ul li { font-size: 0.90rem;    }
  .top { font-size: 0.90rem;    }
}
@media only screen and (max-width: 992px) {
}
/* важное разрешение 800 */
@media only screen and (max-width: 800px) {
  .block_cover img { width: 50%;}
  .block_cover, .block_text {float: none;width: 100%;}
  .list {margin: 0 40px;}
  .block_cover_autor {padding-right: 0;}
  h3 {margin-top: 20px; margin-bottom: 10px;}
  .block_cover img {width: 82%;}
  .top, .top .button_up {font-size: .7rem; }
  .polit_list li, .polit_termes {font-size: 14px;}
ol {padding-left: 20px;}

}
/* важное разрешение 768 */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 667px) {
  .container {width: 647px;}
 .footer_box {width: 100%;float: none;}
h3 {margin-top: 0;}
.block_text h3 {margin-top: 10px;}

}

@media only screen and (max-width: 640px) {


}

/* важное разрешение 600 */
@media only screen and (max-width: 600px) {
.container {width: 560px;}
 .top, .top .button_up {font-size: 0.556rem;}
 .block_text p span {font-size: 0.65rem; margin-bottom: 10px;}
  .forms-call .get-buttons { margin: 10px 0 10px 5px;line-height: 40px;}
  ol {padding-left: 10px;}
}
@media only screen and (max-width: 568px) {
  .button-call {text-align: center; margin: 0;float: none;}
  .block {padding: 10px 0;}
  .container {width: 538px;}
}
/* важное разрешение 480 */
@media only screen and (max-width: 480px) {
.container {width: 460px;}
header h1 {font-size: 1.30rem;}
header h2 {font-size: 1.15rem;}
h3 {font-size: 1.4rem;}
.block_text p {font-size: 1.00rem;}
.top {padding-top: 5px;line-height: 0.556rem;height: 45px;}
.top .button_up {margin-top: 5px;}
.list li:before {font-size: 1.2rem;top: 4px;}
}
@media only screen and (max-width: 425px) {
header h1 {font-size: 1.16rem;}
h3 {font-size: 1.26rem;}
}
@media only screen and (max-width: 384px) {
}

@media only screen and (max-width: 360px) {
header h1 {font-size: 1.3rem;}
header h2 {font-size: 0.90rem;}
h3 {font-size: 1.27rem;}
.block_text p {font-size: 1.00rem;}
.list li {font-size: 1.00rem;}
.block_list h3 {font-size: 1.04540rem;}
.block {padding: 8px 0;}
}
@media only screen and (max-width: 320px) {
}