@import '_var.scss';

@media only screen and (max-width : 1190px) {

.container {
 width: 1170px;
  // margin: 0 auto;
}


}

@media screen and (max-width: 1080px) {
.container {
 width: 1060px;
}
header h1 {
     font-size: 1.525rem;
    }
    header h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1024px) {
.container {
  width: 1004px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
  width: 970px;
}

}

@media only screen and (max-width: 800px) {
.container {
  width: 780px;
}
.block_cover, .block_text {
    float: none;
    width: 100%;
  }
  .list {
   margin: 0 40px;
  }
.block_cover_autor {
    padding-right: 0;
  }
h3 {
 margin-top: 20px;
 margin-bottom: 0;
 }
 .block_cover img {
    width: 82%;
  }
  .top, .top .button_up {
font-size: .7rem;
  }
 }
@media only screen and (max-width: 768px) {
.container {
	width: 750px;
}


	     }
@media only screen and (max-width: 667px) {
.container {
 width: 647px;
}
.footer_box {
    width: 100%;
    float: none;
  }

}

@media only screen and (max-width: 640px) {

.container {
	 width: 620px;
}
     }


@media only screen and (max-width: 600px) {
.container {
	 width: 580px;
}
.top, .top .button_up {
    font-size: 0.556rem;
  }

}
@media only screen and (max-width: 568px) {

.container {
	 width: 548px;
	}
.button-call {
    text-align: center;
    margin: 0;
    float: none;
  }
  .block {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 480px) {
.container {
	 width: 460px;
}
header h1 {
    font-size: 1.30rem;
  }
  header h2 {
    font-size: 1.15rem;
  }
h3 {
  font-size: 1.4rem;
  }
.block_text p {
    font-size: 1.18rem;
  }
.top {
	padding-top: 5px;
line-height: 0.556rem;
    height: 45px;
  }
.top .button_up {
	margin-top: 5px;
}


}


@media only screen and (max-width: 425px) {
.container {
	  width: 405px;
}
header h1 {
    font-size: 1.16rem;
  }
h3 {
    font-size: 1.26rem;
  }

}

@media only screen and (max-width: 384px) {
.container {
	 width: 364px;
	 }


}

@media only screen and (max-width: 360px) {
.container {
	 width: 340px;
}
header h1 {
    font-size: 1.3rem;
  }
  header h2 {
   font-size: 0.90rem;
  }
  h3 {
    font-size: 1.27rem;
  }
.block_text p {
    font-size: 1.00rem;
  }
.list li {
	   font-size: 1.00rem;
}
.block_list h3 {
    font-size: 1.04540rem;
  }
  .block {
    padding: 8px 0;
}
}

@media only screen and (max-width: 320px) {
.container {
 width: 310px;
}




}