@import '_var.scss';
/* стили формы обратной связи */

.forms-call {
font-size:.875rem;
}

.forms-call label{
  margin:10px 0;
display:block;
}

.forms-call input{
display:block;
width:100%;
height:40px;
font-size:0.938rem;
line-height: 40px;
border:1px solid #000;
border-radius: 3px;
text-indent:10px;
margin:10px auto;
color:#000;
outline: none; //важно
}

.forms-call input:focus{
border:1px solid $hover-color;
}

.forms-call input:-webkit-autofill {    // важно
-webkit-box-shadow: inset 0 0 0 50px #ffffff !important; /* Цвет фона */
-webkit-text-fill-color: #000 !important; /* цвет текста */
color:#000 !important; /* цвет текста */
}

.forms-call .get-buttons {
margin:10px 0 10px 5px;
background-color: #f2001D;
padding: 4px 40px;
line-height: 50px;
@include font-size(16px);
text-decoration:none;
border: 0;
color: #fff;
letter-spacing: 1px;
@include trans;
}

.button-call{text-align:right;
margin: 0;
float: right;
}

.forms-call .get-buttons:focus, .forms-call .get-buttons:hover, .forms-call .get-buttons:active {
background-color: darken($hover-color, 10%);
}
/* конец формы обратной связи */